<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOzUqIVuGdtEkh4cCAOgsc35FgLY9BLtc</string>
	<key>GCM_SENDER_ID</key>
	<string>282859715062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andrew.FIrebaseDemoV1</string>
	<key>PROJECT_ID</key>
	<string>fir-demov1-3e9e1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demov1-3e9e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282859715062:ios:9140af4b2467d1cf2e6fd7</string>
</dict>
</plist>